html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    color: #555555;
    text-decoration: none;
    max-width: 450px;
    text-align: center;
    box-shadow: 1px 2px 15px #48484833;
    background-image: url('bgwood.jpg');
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 90px;
}
.page-details {
    background-image: url('bg.png');
    background-position:top;
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.p-10 {
    padding: 10px;
}

/* .contact-action-container {
    text-align: left;
    margin-bottom: 15px;
    margin-top: 15px;
} */

.views-label {
    padding: 5px 10px;
    position: absolute;
    color: #ffffff;
    right: 10px;
    top: 10px;
    border: 1px solid #ffffff;
    border-radius: 18px;
    font-size: 14px;
}

.profile-pic {
    text-align: left;
}

.profession {
    color: white;
    margin-top: -3px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.4px;
    margin-bottom: 2px;
    text-align: left;
}

.contact-action-container-icon {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 30px;
    line-height: 30px;
    color: white;
    background-color: #4489C5;
    font-size: 13px;
}

.contact-action-container-text {
    color: #F1F1F1;
    margin-left: 10px;
    font-size: 13px;
    margin-right: 10px;
    display: inline-block;
    word-break: break-word;
}

a {
    text-decoration: none;
    color: #0085C4;
}

.contact-buttons {
    /* background-color: rgba(244,244,244,0.4); */
    margin: 0 -20px;
    padding: 10px 20px;
    text-align: left;
}

.contact-button {
    padding: 6px 10px;
    border-radius: 50px;
    min-width: 70px;
    display: inline-block;
    font-size: 12px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(255, 251, 251, 0.1) inset;
    text-align: center;
    background-color: #4489C4;
    color: #fff;
    border: none;
    margin-right: 5px;
    margin-bottom: 10px;
}

.contact-button i {
    margin-right: 5px;
}

.contact-action-table {
    -webkit-border-vertical-spacing: 10px;
}

.shadow-buttons {
    display: flex;
    justify-content: center;
    margin: -5px;
}

.shadow-button {
    padding: 10px 2px;
    font-size: 13px;
    color: #F1F1F1;
    margin: 5px;
    background: rgba(72, 72, 72, 0.55);
    flex: 1;
    border-bottom: 6px solid #37393A;
    display: inline-block;
}

.shadow-button .shadow-button-icon {
    color: #F1F1F1;
    vertical-align: middle;
    font-size: 15px;
    margin-right: 10px;
    margin-top: -2;
}

.save-card-button {
    width: 100%;
    margin: -5px;
    margin-top: 10px;
    display: none;
}

.p-30 {
    padding-top: 30px;
}

.p-20 {
    padding-top: 20px;
}

.whatsapp-input {
    text-align: left;
    display: flex;
}

.whatsapp-input input {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    padding: 10px;
    outline: none;
    font-size: 12px;
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
    padding-left: 40px;
}

.whatsapp-button {
    -webkit-appearance: none;
    padding: 10px;
    font-size: 13px;
    background-color: #51B14D;
    opacity: 0.9;
    color: #fff;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(255, 251, 251, 0.1) inset;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.whatsapp-button i {
    font-size: 16px;
    margin-right: 10px;
}

.input-wrapper {
    position: relative;
    flex: 1;
}

.input-wrapper label {
    position: absolute;
    left: 10px;
    top: 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
}

/* List style CSS Starts */
.list-style {
    list-style-type: decimal;
    padding-left: 20px;
}
/* List style CSS Completed */

/* Section CSS Starts */
.section-header {
    color: #0085C4;
    text-transform: uppercase;
}
.section-container {
    text-align: left;
    padding: 20px;
    margin-top: 15px;
    background-color: #F4F4F4;
    line-height: 22px;
    font-size: 14px;
    overflow: hidden;
    word-break: break-word;
}
/* Section CSS Completed */

/* Card CSS Starts */
.card {
    text-align: left;
    background-color: rgba(0,133,196, 0.15);
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(255, 251, 251, 0.1) inset;
}

.card .card-title {
    font-size: 15px;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-weight: bold;
}
/* Card CSS Completed */

/* Info Box CSS Starts */
.info-box {
    text-align: center;
    margin-bottom: 20px;
}

.info-box .info-icon {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0085C4;
}

.info-box .info-title {
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
/* Info Box CSS Completed */

/* Info Box in card CSS Starts */
.card .info-box .info-icon{
    font-size: 40px;
}
/* Info Box in card CSS Completed */

/* Gallery CSS Starts */
.images-container {
    column-count: 3;
    -webkit-column-count: 3;
    column-gap: 0;
    -webkit-column-gap: 0;
}

.images-container .image-wrapper {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    padding: 3px;
}

.images-container .image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.images-container .image-wrapper img:hover {
    opacity: 0.7;
}
/* Gallery CSS Completed */

/* Payment CSS Start */
.qr-image {
    max-width: 250px;
    width: 100%;
}
/* Payment CSS Completed */

/* Modal CSS Start */
/* The Modal CSS (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* Modal CSS Completed */

/* Feedback form CSS start */
.feedback-form input[type=text],select,textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
    outline: none;
    font-size: 14px;
    font-family: 'Uniform', sans-serif;
}

#feedback-section input[type=button] {
    background-color: #0085C4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 6px 0;
    font-family: 'Uniform', sans-serif;
}

#feedback-section input[type=button]:disabled {
    opacity: 0.3;
}

.feedback-form .feedback-phoneNumber {
    flex: 1;
    margin-right: 5px;
}

.feedback-form .feedback-email {
    flex: 1;
    margin-left: 5px;
}

.feedback-list .feedback-wrapper {
}

.feedback-list .feedback-wrapper .feedback-name-wrapper {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.feedback-list .feedback-wrapper .feedback-name {
    color: #0085C4;
    font-size: 15px;
    font-weight: 500;
}

.feedback-list .feedback-wrapper .gl-star-rating-stars > span {
    width: 18px;
    height: 18px;
    background-size: 18px;
}

#feedback-section hr {
    border-color: rgba(0, 0, 0, 0.12);
    border-width: 0.5px;
}

.feedback-form {
    margin-bottom: 0;
    padding: 15px;
}

.feedback-form .feedback-form-heading {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
}

.feedback-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.feedback-button-wrapper input[type=button] {
    padding: 6px 12px !important;
}
/* Feedback form CSS Completed */

/* Enquiry form CSS start */
.enquiry-form input[type=text],select,textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
    outline: none;
    font-size: 14px;
    font-family: 'Uniform', sans-serif;
}

.enquiry-form input[type=button] {
    background-color: #0085C4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 6px 0;
    font-family: 'Uniform', sans-serif;
}

.enquiry-form input[type=button]:disabled {
    opacity: 0.3;
}

.enquiry-form .enquiry-phoneNumber {
    flex: 1;
    margin-right: 5px;
}

.enquiry-form .enquiry-email {
    flex: 1;
    margin-left: 5px;
}
/* Enquiry form CSS Completed */

/* Footer Menu CSS Starts */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.footer-menu {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(255, 251, 251, 0.1) inset;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0;
    list-style-type: none;
    overflow: auto;
    position: relative;
    background: white;
    /* border-radius: 20px 20px 0 0; */
    display: flex;

    background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white), linear-gradient(to right, rgba(0, 0, 20, .50), rgba(255, 255, 255, 0)), linear-gradient(to left, rgba(0, 0, 20, .50), rgba(255, 255, 255, 0));
    /* Shadows */
    /* Shadow covers */
    background-position: left center, right center, left center, right center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 20px 100%, 20px 100%, 20px 100%, 20px 100%;
    background-attachment: local, local, scroll, scroll;
}

.footer-menu li {
    flex: 1;
    min-width: 80px;
}

.footer-menu .footer-menu-link {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    color: #555555;
}

.footer-menu .footer-menu-icon {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0085C4;
}

.footer-menu .footer-menu-text {
    font-size: 12px;
}

/* Footer Menu CSS Completed */

/* Share Form in modal Start*/
.share-modal {
    padding-top: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
}
.share-form {
    background-color: #F1F1F1;
}

.share-form .share-form-header {
    position: relative;
    padding: 20px 0;
}

.share-form .share-form-header .share-form-header-text {
    padding-top: 12px;
    margin: 0;
}

.share-form .share-form-header .close {
    top: 18px;
    color: #555555;
}

.share-form-buttons-container {
    margin-bottom: 40px;
}

.share-buttons-heading {
    position: relative;
    padding: 0 60px;
}

.share-buttons-heading .share-buttons-arrow {
    position: absolute;
    left: 35px;
    top: 16px;
    width: 30px;
    transform: rotateZ(15deg);
}

.share-buttons-heading .share-buttons-heading-text {
    text-align: left;
    font-family: Shadows Into Light;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: #D34544;
    margin: 10px 0;
}

.share-buttons {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding: 0 60px;
    margin: 0;
}

.share-buttons .share-button {
    padding: 4px;
    list-style: none;
}

.share-buttons .share-button i {
    background-image: none;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    overflow: hidden;
    line-height: 1.1em;
    color: #fff;
    display: block;
    cursor: pointer;
    font-size: 24px;
    height: 40px;
    width: 40px;
    text-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-buttons.inprofile {
    padding: 0;
    justify-content: flex-end;
    margin: -4px;
}

.share-buttons.inprofile .share-button {
    padding: 3px;
}

.share-buttons.inprofile .share-button i {
    padding: 0;
    height: 27px;
    width: 27px;
    font-size: 12px;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(255, 251, 251, 0.1) inset;
}

.share-button-whatsapp {
    background-color: #29a71a;
}

.share-button-sms {
    background-color: #1598d5;
}

.share-button-facebook {
    background-color: #3b5998;
}

.share-button-twitter {
    background-color: #2ba9e1;
}

.share-button-skype {
    background-color: #00aff0;
}

.share-button-pinterest {
    background-color: #cb2027;
}

.share-button-linkedin {
    background-color: #007bb6;
}

.share-button-telegram {
    background-color: #0088CC;
    font-size: 15px;
}

.share-button-instagram {
    background-color: #F18644;
}

.share-button-youtube {
    background-color: #E63631;
}

.share-button-mail {
    background-color: #939598;
}
/* Share Form in modal Completed*/


/* Animations classes start */
.fadeInUpBig {
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Animations Classes Completed */


/* Media query on Smaller Screens */
@media only screen and (max-width: 450px){
    .modal-content {
        width: 100%;
    }

    .share-modal {
        align-items: flex-end;
    }
}

.orderedList {
    list-style: decimal;
    padding-left: 16px;
}

.unorderedList {
    list-style: disc;
    padding-left: 16px;
}

.about-us-table {
    font-size: 14px;
    margin-top: 15px;
    border-collapse: separate;
    border-spacing: 0 5px;
}

.about-us-table tr {
    text-align: -webkit-left;
    vertical-align: top;
}

.about-us-table .table-row-label {
    text-align: left;
    min-width: 150px;
    vertical-align: top;
    position: relative;
}

.about-us-table .table-row-label .table-row-label-text {
    display: inline-block;
    margin: 0;
    font-size: 14px;
}

.about-us-table .table-row-label .table-row-label-separator {
    position: absolute;
    right: 0;
}

.copyright-wrapper {
    color: rgba(0,0,0, 0.8);
    padding: 5px;
    background-color: #D3E3EC;
    font-size: 14px;
    line-height: 22px;
    margin-top: 15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -22px;
}

.copyright-wrapper a {
    color:rgba(0,0,0,0.8);
}

.about-us-text {
    text-align: justify;
    max-width: 95%;
    margin: 0 auto;
}

.product-description {
    text-align: justify;
    max-width: 100%;
}

.product-enquiry-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price {
    font-size: 18px;
    font-weight: 700;
    color: #0085C4;
}

.product-enquiry-btn {
    padding: 7px 15px;
    color: #ffffff;
    font-size: 14px;
    display: inline-block;
    background: linear-gradient(to right, #0085C4 0%, #0085C4 100%);
    border: 3px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.designation {
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    margin-bottom: 10px;
    margin-top: -6px;
}

.document-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 2px solid #555555;
    border-radius: 6px;
    margin-bottom: 10px;
    color: #555555;
}

.document-wrapper .pdf-icon {
    padding: 12px;
    padding-right: 5px;
    font-size: 18px;
}

.document-wrapper .pdf-number {
    padding: 10px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.document-wrapper .download-icon {
    font-size: 18px;
    padding: 12px;
    border-left: 2px solid #555555;
    color: #0085C4;
}

.other-links-wrapper .other-links-link {
    display: block;
    line-height: 20px;
    margin-bottom: 10px;
    word-break: break-all;
}

.other-links-wrapper .other-links-link i {
    margin-right: 10px;
}

/* Extra CSS for pdf */
.pdf {
    padding-bottom: 0;
}
.pdf .contact-buttons {
    text-align: center;
}

.pdf .contact-button {
    padding: 12px 20px;
    font-size: 14px;
    width: 30%;
}

.flex {
    display: flex;
}

/* whatsapp input flag css */
.iti__flag {background-image: url("../../../cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../../../cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/img/flags%402x.png");}
}

.iti {
    width: 100%;
}

.iti__country-name, .iti__flag-box {
    color: #555555;
}
/* whatsapp input flag css completed */
